version: '3.8'

services:
  api:
    build: .
    ports:
      - "3333:3333"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/mestre_db
    depends_on:
      - db
  
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mestre_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
